/* your styles go here */
.entry-meta {
    padding-top: 20px;
}

.content-summary > p {
/*	text-align: left;*/
}

.entry-content {
	/*Arbutus Slab*/
	font-family: "Slabo";
	font-size: 13pt;
	color: #000;
	
}

.entry-content p {
	text-align: justify;
}

.entry-header {
	color: #000;
}